.schedule-container {
  width: 90%;
  padding: 40px;
  
  
}

.schedule-table {
  width: 100%;
  border-collapse: collapse;
  padding-left: 20px !important;
  padding: 20px !important;
  margin-top: 20px;
}

.schedule-table th,
.schedule-table td {
  border: 2px solid #181717;
  padding: 20px;
  
  
  font-size:20px;
}
h5{
  font-family: 'Robot',sans-serif;
  font-size: x-large;
  
  margin-bottom: 0; /* Ensures no gap below */
  padding-bottom: 0;
  text-align: center;
}

.highlight {
  background-color: #e7f3ff; /* Light blue background for today's events */
}

.highlight-day {
  font-weight: bold;
  color: red; /* Darker blue for the highlighted day */
}

.highlight-event {
  font-weight: bold;
  color:blue; /* Orange color for the highlighted event */
}


/*Button*/
.button-wrapper {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  color: #181717;
   margin-top: 10px;
   margin-bottom: 10px;
}

.center-button {
  padding: 10px 20px;
  font-size: 16px;
}
